<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="assets/styles.css">
  </head>
  <body>

    <audio id="mySound" src="sound.mp3" preload="auto"></audio>
    <aside class="" background="../Spiderman-PPT/assets/img/fondo_aside.jpg">

      <a href="../Spiderman-PPT/index.html">
         <img class="imgMenu" src="../Spiderman-PPT/assets/img/telaraña_menu2.png">
      </a>

      <h4>Menu</h4>
    </aside>



    <main>
      <header>
        <h1>Piedra, Papel o Tijeras</h1>
        <h3>Spider-man</h3>
      </header>

      <section>

          <form class="modo" action="index.html" method="post">
            <h1>2 Jugadores</h1>
              <label for="dosJugadores" class="dosJugadores">
                <input id="dosJugadores" name="tipoDeJuego" type="radio" value="2jugadores">
              </label>
          </form>

          <form class="modo" action="index.html" method="post">
            <h1>Jugador vs Maquina</h1>
            <label for="maquina" class="maquina">
              <input id="maquina" name="tipoDeJuego" type="radio" value="Maquina">
            </label>
          </form>

      </section>

      <footer>
        <a href="views/personajes.html">Personajes</a>
        <a href="views/ComoJugar.html">
          <img src="../Spiderman-PPT/assets/img/spider_sense.png">
        </a>
      </footer>

    </main>
    <script src="../Spiderman-PPT/assets/scripts/scriptsPrincipal.js"></script>
  </body>
</html>
